{% extends 'layout.html.twig' %}
{% form_theme userFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Créer un utilisateur
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="border border-dark p-5">
                    <h2 class="text-center">Ajouter un utilisateur</h2>
                    {{ form(userFormView) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


