<div class="tab-pane fade show " id="states" role="tabpanel" aria-labelledby="state-tab">
    <h2 class="text-center">Statuts</h2>
    <p class="text-center"><a class="btn btn-success" href="{{ path('admin_state_add') }}">Ajouter une statut</a></p>
    <table id="userTable" class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Libellé</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {%  for state in allStates %}
            <tr>
                <td>{{ state.id }}</td>
                <td>{{ state.info }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>