<div class="tab-pane fade show" id="cities" role="tabpanel" aria-labelledby="city-tab">
    <h2 class="text-center">Villes</h2>
    <p class="text-center"><a class="btn btn-success" href="{{ path('admin_city_add') }}">Ajouter une ville</a></p>
    <table id="userTable" class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Code postal</th>
        </tr>
        </thead>
        <tbody>
        {%  for city in allCities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.zipcode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>