{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}


{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {#<form id="register" cf-form>#}

    <div class="container-fluid pt-5 mt-5">
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="form_container">

                    {{ form(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
    {#</form>#}

{% endblock %}
{#{% block javascripts %}#}

{#<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.1/dist/conversational-form.min.js" crossorigin></script>#}
{#    <script>#}
{#        this.cf = ConversationalForm.startTheConversation({#}
{#            options: {#}
{#                theme: 'blue',#}
{#                submitCallback: this.submitCallback,#}
{#                preventAutoFocus: true,#}
{#            },#}
{#            tags: this.formFields#}
{#        });#}

{#    </script>#}
{#{% endblock %}#}