{% form_theme userFormView 'bootstrap_4_layout.html.twig' %}

{% extends 'layout.html.twig' %}

{% block title %}PROFIL{% endblock %}

{% block body %}



<div class="container-fluid pt-5 mt-5">
    <h1>Mon  profil</h1><br>
    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="form_container">
            {{ form (userFormView) }}
              <a href="{{path('home')  }}" > <button class="btn btn-secondary" type="submit">Annuler</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{#><a href="{{ path('idea_detail', {'id' : idee.id}) }}">{{ idee.title }}</a></p>#}