{% extends 'admin/admin-layout.html.twig' %}
{% form_theme tripFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Ajouter une sortie
{% endblock %}
{% block titre_page %}Ajouter une sortie{% endblock %}
{% block breadcrumb %}Ajouter une sortie{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-body">
                    {{ form(tripFormView) }}
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center"><a class="btn btn-lg btn-outline-primary" href="{{ path('admin_location_add') }}">Ajouter un nouveau lieu</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/select2.full.min.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('.select2').select2({
                theme: 'bootstrap4',
            });
        });
    </script>
{% endblock %}


