{% extends 'admin/admin-layout.html.twig' %}
{% form_theme tripFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Modifier une sortie
{% endblock %}
{% block titre_page %}Modifier une sortie{% endblock %}
{% block breadcrumb %}Modifier une sortie{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-body">
                    {{ form(tripFormView) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}


