{% extends 'layout.html.twig' %}
{% block title %}
    Modifier une sortie
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form_container">
                    <h4 class="text-center">Récapitulatif d'une sortie</h4>
                    <hr>
                    <h1>Page en construction</h1>
                </div>
            </div>
            <div class="col-md-4">
                <a class="btn neumorphism-1" href="{{ path('trip_detail', {'id':currentTrip.id}) }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}