{% extends 'layout.html.twig' %}
{% form_theme tripFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Modifier une sortie
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="border border-dark p-5">
                    <h2 class="text-center">Modifier une sortie</h2>
                    {{ form(tripFormView) }}
                    <a class="btn btn-info" href="{{ path('home') }}">Publier</a>
{#                    {% for trip in allTrip %}#}
                        <a class="btn btn-danger" href="{{ path('trip_removeTrip') }}">Supprimer</a>
{#                    {% endfor %}#}
                    <a class="btn btn-secondary" href="{{ path('home') }}">Annuler</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}


