{% extends 'layout.html.twig' %}
{% form_theme locationFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Créer un lieu
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="border border-dark p-5">
                    <h2 class="text-center">Ajouter un lieu</h2>
                    {{ form(locationFormView) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/select2.full.min.js') }}"></script>

    <script>
        $(document).ready( function () {
            $('.select2').select2();
        });
    </script>

    <!-- Include Google Maps JS API -->
    <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCc4FIU239oleSDmVnMUvl2c7rUyLFYSW0"></script>
    <!-- Custom JS code to bind to Autocomplete API -->
    <!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
    <!-- We'll detail this file in the article -->
    <script type="text/javascript" src="{{ asset('assets/js/autocomplete.js') }}"></script>

{% endblock %}

