/*colors*/
.bleu-eni{color:#134a80}
.bg_bleu_eni{background-color: #134a80}


/*navbar*/
.navbar-brand img{max-width:100px}
.navbar-main{}

.alerts-container{position:fixed;bottom:50px;right:15px;max-width:40%;}
.alerts-container .alert{border-radius:0;}
.alerts-container .alert .alert-danger{background:rgba(248,215,218,0.7)!important}
.alerts-container .alert .alert-success{background:rgba(212,237,218,0.7)!important}



/*home*/
section.main{
    padding:50px 0;
    min-height:80vh;
    background-color: #dae0e5;
    /*background:url(bg/nantes.jpg) no-repeat center center / cover;*/
}



/*.fa-check {*/
/*    color: green;*/
/*}*/

/*.neumorphism-1{*/
/*    margin: 10px;*/
/*    border-radius: 5px;*/
/*    background: #fcfeff;*/


/*    box-shadow: -2px -2px 8px rgba(255,255,255,1),*/
/*                -2px -2px 12px rgba(255,255,255,0.5),*/
/*                inset 2px 2px 4px rgba(255,255,255,0.1),*/
/*                        2px 2px 8px rgba(0,0,0,0.15);*/
/*}*/

/*.neumorphism-1:hover {*/
/*    box-shadow: inset -2px -2px 8px rgba(255,255,255,1),*/
/*                inset -2px -2px 12px rgba(255,255,255,0.5),*/
/*                inset 2px 2px 4px rgba(255,255,255,0.1),*/
/*                inset 2px 2px 8px rgba(0,0,0,0.15);*/
/*}*/
/*.neuromorphism-1:hover span{*/
/*    display: inline-block;*/
/*    transform: scale(0.98);*/
/*}*/
/*.neumorphism-2{*/
/*    border-radius: 5px;*/

/*    background: #ebebeb;*/

/*    background: #fcfeff;*/

/*    box-shadow: inset 3px 3px 5px rgba(163,177,198, 0.6), inset -3px -3px 5px    rgba(255,255,255, 0.5);*/
/*}*/

/*.neumorphism-2:hover {*/
/*    box-shadow: 3px 3px 5px rgba(163,177,198, 0.6), -3px -3px 5px    rgba(255,255,255, 0.5);*/
/*}*/
/*.neuromorphism-2:hover span{*/
/*    display: inline-block;*/
/*    transform: scale(0.98);*/
/*}*/


/*.neumorphism-3{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    border-radius: 10%;*/
/*    background: #fdfdfe;*/
/*    box-shadow: 3px 3px 5px rgba(163,177,198, 0.6), -3px -3px 5px    rgba(255,255,255, 0.5);*/
/*    position: relative;*/

/*}*/

/*.neumorphism-3::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    height: 80%;*/
/*    width: 80%;*/
/*    border-radius: 10%;*/
/*    background: transparent;*/
/*    box-shadow: inset 3px 3px 5px rgba(163,177,198, 0.6), inset -3px -3px 5px    rgba(255,255,255, 0.5);*/

/*}*/



/*map*/
#map{position: relative;height:400px;width:100%}
#mapLoc{position:relative;height:70vh;width:100%}
#map .mapboxgl-marker, .mapboxgl-marker {
    height: 60px;
    width: 20px;
    background: url(marker.png) no-repeat;
}

/*grid*/
.grid-item {
    float: left;
    /*width: 33%;*/

}