{% extends 'layout.html.twig' %}
{% form_theme cityFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Créer une ville
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="border border-dark p-5">
                    <h2 class="text-center">Ajouter une ville</h2>
                    {{ form(cityFormView) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


