{% extends 'layout.html.twig' %}
{% form_theme cityFormView 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Générer toutes les communes d'un dept
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="border border-dark p-5">
                    <h2 class="text-center">Générer toutes les communes d'un dept</h2>
                    <form action="" method="">

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


