<div class="col-12 ">
<!-- select filter control -->
{#<select class="d-none"
        data-jplist-control="dropdown-filter"
        data-group="data-group-1"
        data-name="school">
    <option value="0" data-path="default" selected>Toutes</option>
    {% for school in allSchools %}
        <option value="{{ school.id }}" data-value="{{ school.id }}" data-path=".school_{{ school.id }}" >{{ school.name }}</option>
    {% endfor %}
</select>#}
    <div
            style="display: none"
            data-jplist-control="hidden-sort"
            data-group="data-group-1"
            data-path=".date"
            data-order="asc"
            data-type="text"></div>
    <div class="box">

        <!-- checkbox path filter control -->
        <label>
            <input
                    type="checkbox"
                    data-jplist-control="checkbox-path-filter"
                    data-path=".school_3"
                    data-group="data-group-1"
                    name="name1"
                     />
            School 3
        </label>

        <!-- checkbox path filter control -->
        <label>
            <input
                    type="checkbox"
                    data-jplist-control="checkbox-path-filter"
                    data-path=".school_1"
                    data-group="data-group-1"
                    name="name2" />
            school 1
        </label>

        <!-- checkbox path filter control -->
        <label>
            <input
                    type="checkbox"
                    data-jplist-control="checkbox-path-filter"
                    data-path=".school_2"
                    data-group="data-group-1"
                    name="name3" />
            school 2
        </label>

    </div>




</div>