
<div class="filters ">
    <div class="row">

        <div class="ui-group col-12 col-md-6">
            <div class="button-group js-radio-button-group btn-group-sm btn-group" role="group" data-filter-group="school">
                <button class="button active btn btn-outline-primary btn-sm" data-filter="">Toutes</button>
                {% for school in allSchools %}
                    <button class="button btn btn-outline-primary btn-sm" data-filter=".school_{{ school.id }}">{{ school.name }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="ui-group  col-12 col-md-2">
            <div class="button-group js-radio-button-group btn-group-sm btn-group" role="group" data-filter-group="oganize">
                <button class="button active btn btn-outline-success btn-sm" data-filter="">Toutes</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".organizer">Organisateur ?</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".subscribed">Participant ?</button>
            </div>
        </div>
        <div class="ui-group  col-12 col-md-2">
            <div class="button-group js-radio-button-group btn-group-sm btn-group" role="group" data-filter-group="dates">
                <button class="button active btn btn-outline-success btn-sm" data-filter="">Toutes</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".past">Passées ?</button>
                <button class="button btn btn-outline-success btn-sm" data-filter=".futur">À venir ?</button>
            </div>
        </div>
        <p class="col-md-2"><input type="text" class="quicksearch form-control form-control-sm" placeholder="Recherche" /></p>
    </div>
</div>
