{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="bloc bloc_404">
                    <h1>Vous vous êtes perdu ?</h1>
                      <p>On ne va pas vous laisser tomber ... Pas de panique.</p>
                    <p><a href="{{ path('home') }}">Cliquez ici</a> pour revenir à l'accueil</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}