{% form_theme mdpFormView 'bootstrap_4_layout.html.twig' %}
{% extends'layout.html.twig' %}


{% block title %}Hello ResetPassword!{% endblock %}

{% block body %}

    <div class="container-fluid pt-5 mt-5">
        <h1>Changer mon mot de passe</h1>
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="form_container">
                    {{ form (mdpFormView) }}
                </div>
            </div>
        </div>
    </div>







{% endblock %}



