{% form_theme mdpFormView 'bootstrap_4_layout.html.twig' %}
{% extends'layout.html.twig' %}


{% block title %}Hello ResetPassword!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Changer votre mot de passe
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {{ form (mdpFormView) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>





{#    <div class="container-fluid pt-5 mt-5">#}
{#        <h1>Changer mon mot de passe</h1>#}
{#        <div class="row">#}
{#            <div class="col-12 col-xl-6">#}
{#                <div class="form_container">#}
{#                    {{ form (mdpFormView) }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}







{% endblock %}



